---
import { Image } from "astro:assets"

const { imageUrl, title, content, link, isLinkExternal } = Astro.props
---

<div class="card-container">
  <a href={link} target={isLinkExternal ? "_blank" : "_self"}>
    {imageUrl && <Image src={imageUrl} alt={title} height={200} fit="cover" />}
    <div class="title">{title}</div>
    <div class="content">{content}</div>
  </a>
</div>

<style>
  a {
    text-decoration: none;
  }

  div.card-container {
    background-color: var(--background-color);
    box-shadow: 0 1px 4px 1px var(--subcontent-color);
    border-radius: 1em;
    filter: brightness(1.02);

    img {
      border-radius: 1em 1em 0 0;
    }
  }

  div.card-container:hover {
    box-shadow: 0 1px 4px 1px var(--content-color);
    transform: scale(1.02);
    transition-duration: 0.3s;
  }

  div.title {
    padding: 1em;
    color: var(--link-color);
  }

  div.content {
    padding: 0 1em 1em 1em;
    color: var(--content-color);
  }
</style>
